{% load staticfiles %}

<!DOCTYPE html>

<html>
  <head>
    <title>Anny(Yen-Len) Chen</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" >
    <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}

    <script src="{% static 'web/js/jquery-1.12.1.min.js' %}"></script>
    <script src="{% static 'web/js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <main id="inner">
      {% block inner %}
      {% endblock %}
    </main>
    {% block js %}
    {% endblock %}
  </body>
</html>
