{% extends 'web/base.html' %}

{% load staticfiles %}

{% block css %}
  <link href="{% static 'web/css/index_css/index.css' %}" rel="stylesheet">
  <link href="{% static 'web/css/design_group_css/design_group.css' %}" rel="stylesheet">
{% endblock %}

{% block inner %}
  <div class="left col-md-3">
    <ul>
      <li><div class="brick show"></div><a href="/web/#section3">BACK</a></li>
    </ul>
  </div>
  <div class="group-container">
    <img src="/static/web/img/design_group/{{ design_group }}.png" oncontextmenu="return false" />
  </div>
{% endblock %}
