{% extends 'web/base.html' %}

{% load static from staticfiles %}

{% block css %}
  <link href="{% static 'web/css/index_css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block inner %}
  <div class="left col-md-3">
    <ul>
      <li><div class="brick" id="section1_brick"></div><a href="#section1">TOP</a></li>
      <li><div class="brick" id="section2_brick"></div><a href="#section2">ABOUT</a></li>
      <li><div class="brick" id="section3_brick"></div><a href="#section3">DESIGN</a></li>
    </ul>
  </div>
  <div class="index-container">
    <div class="section1" id="section1">
      <img src="{% static 'web/img/index_img/top_pic.png' %}" class="top-pic" />
    </div>
    <div class="section2" id="section2">
      <div class="column-intro">
        <div>
          <h3>Education</h3>
          <div class="row-intro">
            <div class="intro-content">
              <div class="org">National Taiwan University</div>
              <div class="title">Bachelor of Agriculture Chemistry (2012.9 - now)</div>
            </div>
          </div>
        </div>
        <div>
          <h3>Work Experience</h3>
          <div class="row-intro">
            <div class="intro-content">
              <div class="org">CHOCOLABS 可口APP研究室</div>
              <div class="title">UI Art Designer Intern (2015.7 - 2016.2)</div>
            </div>
          </div>
        </div>
        <div>
          <h3>Leadership Experience</h3>
          <div class="row-intro">
            <div class="intro-content">
              <div class="org">2015HackNTU</div>
              <div class="title">Director of Digital Marketing (2015.6 - 2015.9)</div>
            </div>
            <div class="intro-content">
              <div class="org">2B Hackathon (Bitcoin and Big Data)</div>
              <div class="title">Co-organizer / Designer (2015.3 - 2015.5)</div>
            </div>
            <div class="intro-content">
              <div class="org">NTU Pop Dance Club</div>
              <div class="title">Minister of Activity / President of Final Show (2013.7 - 2014.7)</div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-contact">
        <h3>Contact Me! Hire Me!</h3>
        <div class="contact-info">+886 958 820 517</div>
        <div class="contact-info">b01612022@gmail.com</div>
        <div class="contact-button">
          <a href="https://www.facebook.com/AnnysLab"><img src="{% static 'web/img/index_img/ic_fb.png' %}" /></a>
          <a href="https://www.facebook.com/AnnysLab"><img src="{% static 'web/img/index_img/ic_linkedin.png' %}" /></a>
          <a href="https://www.facebook.com/AnnysLab"><img src="{% static 'web/img/index_img/ic_behance.png' %}" /></a>
        </div>
      </div>
    </div>
    <div class="section3" id="section3">
      <div class="design-row">
        <div class="design-content">
          <a href="chocotv"><img src="{% static 'web/img/index_img/webcover_chocotv.png' %}" /></a>
          <div class="name">CHOCO TV</div>
          <div class="desc">2015, UI Design</div>
        </div>
        <div class="design-content">
          <a href="kemana"><img src="{% static 'web/img/index_img/webcover_kemana.png' %}" /></a>
          <div class="name">KeMana</div>
          <div class="desc">2015, UI Design</div>
        </div>
        <div class="design-content">
          <a href="2b"><img src="{% static 'web/img/index_img/webcover_2b.png' %}" /></a>
          <div class="name">2B Hackathon</div>
          <div class="desc">2015, Poster, Banners</div>
        </div>
        <div class="design-content">
          <a href="people"><img src="{% static 'web/img/index_img/webcover_people.png' %}" /></a>
          <div class="name">People</div>
          <div class="desc">2016</div>
        </div>
        <div class="design-content">
          <a href="practicing"><img src="{% static 'web/img/index_img/webcover_practicing.png' %}" /></a>
          <div class="name">Practicing</div>
          <div class="desc">2016</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'web/js/index.js' %}"></script>
{% endblock %}
