$anny-pink: #e87a90;
$anny-gray: #979797;

.left {
  position: fixed;
  top: 200px;
  left: 0px;
  background-color: transparent;
  transition: width ease .5s;
  @media (max-width: 768px) {
    top: 100px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 40%;
    @media (max-width: 768px) {
      padding-left: 0px;
    }

    li {
      margin-bottom: 5px;

      a {
        text-decoration: none;
        color: $anny-pink;
        font-size: 25px;
        transition:
          color ease .35s,
          border-bottom-color ease .35s;
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }

      .brick {
        float: left;
        margin-top: 5px;
        width: 10px;
        height: 25px;
        margin-right: 10px;
        @media (max-width: 768px) {
          width: 5px;
          height: 12px;
          margin-right: 4px;
        }
      }

      .show {
        background-color: $anny-pink;
      }
    }
  }
}

.index-container {

  .section1 {
    display: block;
    margin-left: 25%;

    .top-pic {
      width: 100%;
    }
  }

  .section2 {
    display: block;
    margin-left: 25%;

    .column-intro {
      display: inline-block;
      padding-left: 40px;
      padding-top: 100px;
      width: 60%;
      @media (max-width: 768px) {
        display: block;
        padding-left: 0px;
        padding-top: 40px;
        width: 100%;
      }

      h3 {
        color: $anny-pink;
        @media (max-width: 768px) {
          font-size: 15px;
        }
      }

      .row-intro {
        margin-bottom: 80px;
        @media (max-width: 768px) {
          margin-bottom: 20px;
        }

        .intro-content {
          margin: 20px 20px;
          color: $anny-gray;

          .org {
            font-weight: bold;
            font-size: 20px;
            @media (max-width: 768px) {
              font-size: 14px;
            }
          }

          .title {
            font-size: 16px;
            @media (max-width: 768px) {
              font-size: 10px;
            }
          }
        }
      }
    }

    .column-contact {
      display: inline-block;
      padding-top: 120px;
      vertical-align: top;
      @media (max-width: 768px) {
        display: block;
        padding-left: 0px;
        padding-top: 0px;
        width: 100%;
      }

      h3 {
        color: $anny-pink;
        @media (max-width: 768px) {
          font-size: 15px;
        }
      }

      .contact-info {
        margin: 12px 0;
        color: $anny-gray;
        font-size: 18px;
        @media (max-width: 768px) {
          margin: 8px 0;
          padding-left: 20px;
          font-size: 12px;
        }
      }

      .contact-button {
        margin-top: 40px;
        @media (max-width: 768px) {
          margin-top: 10px;
          padding-left: 20px;
        }

        img {
          margin-right: 20px;
          @media (max-width: 768px) {
            width: 25px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .section3 {
    display: block;
    margin-left: 25%;

    .design-row {
      padding: 20px;

      .design-content {
        display: inline-block;
        margin: 20px;

        img {
          margin: 10px 0;
          width: 400px;
          cursor: pointer;
          @media (max-width: 768px) {
            width: 100%;
          }
        }

        .name {
          font-size: 20px;
          color: $anny-pink;
          @media (max-width: 768px) {
            font-size: 14px;
          }
        }

        .desc {
          font-size: 20px;
          color: $anny-gray;
          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
